    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
              <!-- write between the "p" the about -->
                <p></p>              
                <br/>
              </div>
        </div>
    </section>
    <div class="content-section-a">

        <div class="container">

            <div class="row">

                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Hi! I’m Pablo Villalba</h2>
                    <p  class="lead">I have a degree in Industrial Design and Product Development engineering from Jaume I University (Castelló de la Plana, Spain).</p>  
                    
                    <p class="lead">I’m interested in different areas related to design and innovation, above all in lighting and furniture.</p>
                    <p class="lead">Now I’m open-minded to all the experience and formation I can get to improve my projects. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="img/services/about.jpg" alt="">
                </div>
            </div>
           
        </div>
        
    </div>
        <!-- /.container -->
