    <!-- Portfolio Section -->
    <section id="portfolio" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Portfolio</h2>
              <div class="clearfix"></div>
              <br/>
              <!-- write between the "p" the about -->
                <p></p>              
                <br/>
              </div>
        </div>
    </section>
    <div class="content-section-a">

        <div class="container">

            <div class="row">

                <embed src="files/Brochure.pdf" type="application/pdf" height="auto" width="auto"/>
                
            </div>
           
        </div>
        
    </div>
        <!-- /.container -->
